.system-status-wrap * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.total-plus-system-status-report,
.total-plus-system-status,
.total-plus-system-status-notice {
	max-width: 1000px;
}

.total-plus-system-status-report {
	background: #FFF;
	border: 1px solid #e1e1e1;
	padding: 30px;
	margin-bottom: 40px;
}

.total-plus-system-status-report p {
	margin-top: 0;
}

.total-plus-system-status table.widefat {
	margin-bottom: 30px;
}

.total-plus-system-status table.widefat th {
	font-weight: bold;
}

.total-plus-system-status table th,
.total-plus-system-status table td {
	padding: 15px;
}

.total-plus-system-status table td.title {
	width: 20%;
}

.total-plus-system-status table td.help {
	width: 20px;
	position: relative;
	text-align: center;
}

.total-plus-system-status .help span {
	position: absolute;
	left: 50%;
	bottom: 100%;
	background: #111;
	padding: 10px;
	padding: 10px;
	display: block;
	color: #FFF;
	border-radius: 5px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 300px;
}

.total-plus-system-status .help span:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	border-color: #111 transparent transparent transparent;
	border-width: 10px;
	border-style: solid;
	margin-left: -10px;
}

.total-plus-system-status .help span {
	display: none;
}

.total-plus-system-status .help i:hover+span {
	display: block;
}

.description.right,
.description.right a {
	color: #58c309;
}

.wrong,
.wrong a {
	color: #F00;
}

.total-plus-system-status table td.description .choice {
	font-size: 1.75em;
}


/*remove update section from revolution slider*/

#activation_dw,
#updates_dw,
.rs-update-history-wrapper {
	display: none !important;
}
